<header>
  <div class="banner">
    <span class="logo"></span>
    <span class="banner-name desktop-only"></span>
    <span class="banner-symbol desktop-only"></span>
  </div>
  <div class="header-menu mobile-visibility-hidden">
    <div class="header-menu-links">
      <span class="user"></span><a>Login</a> |
      <a>Register</a> |
      <span><span class="flag"></span> Netherlands</span>
    </div>
    <input type="search" placeholder="Search" class="search desktop-only"/>
  </div>
  <div class="header-menu-mobile mobile-display-block">
      <span class="user"></span>
      <span class="flag"></span>
      <span class="hamburger"></span>
  </div>
</header>
