<div class="placeholder">
  <div class="form-heading">
  <h1>Plan and Book</h1>
  </div>
  <div class="form-input-wrapper">
      <label class="form-label" for="from">Form</label>
      <select class="form-select" id="from" aria-label="Select From"></select>
      <label class="form-label" for="to">To</label>
      <select class="form-select" id="to" aria-label="Select To"></select>
      <label class="form-label" for="date">Select Date</label>
      <input class="form-input" type="date" id="date" aria-label="Select Date">
      <label class="form-label" for="passenger">Number of Passenger</label>
      <select class="form-select" id="passenger" aria-label="Select Number of Passenger"></select>
  </div>
  <a class="form-link">Search more options &#10095;</a>
  <button class="form-button">View Flights ></button>
</div>
